.boton__activo{
    background-color: $normal-state;
    font-family: $fuenteprimaria;
    font-weight: $regular;
    font-size: $medium;
    padding:5px;
    margin:10px 5px 0px 20px;

    &:hover {
        background-color: $hover-state;
    }
    &:focus {
        background-color: $focus-state;
    }
    color:$white;
    border: 0;
}

.boton__inactivo{
    background-color: $white;
    font-family: $fuenteprimaria;
    font-weight: $regular;
    font-size: $medium;
       padding:5px;
    margin:10px 5px 0px 20px;

    &:hover {
        background-color: $hover-state;
    }
    &:focus {
        background-color: $focus-state;
    }
    border: 0;
}

.boton__free{
    border: 0;
    width:100%;
    height:40px;
    margin-bottom: 50px;
    background-color: $normal-state;
    color:$white;
    font-family: $fuentesecundaria;
    font-weight: $regular;
    font-size: $small;
    
    &:hover {
        background-color: $hover-state;
    }
    &:focus {
        background-color: $focus-state;
    }
}
@media (min-width: 768px){
   .boton__inactivo{
    margin:10px 5px 0px 550px;
   }

}