@charset "UTF-8";
/*COLORS*/
/*font family*/
/*font weight*/
/*FONT SIZES*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*brds parte de la caja no afuera*/ }

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 45px; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px; }

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #bababa; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; }

/*body{
    font-family:  'Merriweather', serif;
    font-size: 1rem;        /*def tmño base*/
.nav__shadow {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0) !important; }

.nav__color {
  background-color: #fff; }

.nav__logus {
  display: flex;
  align-items: center;
  position: relative; }

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: absolute; }

.nav__logo-in {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  position: absolute;
  left: 50px;
  bottom: -12px; }

.nav__li-a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px; }

main {
  padding: 0px 50px 30px 50px; }
  main h2 {
    text-align: center; }
  main .img__grafic {
    width: 260px;
    height: 200px; }

.animation-element {
  /*estado inicial*/
  opacity: 0;
  transition: all 500ms linear;
  transform: translate 3d 0px, 20px, 0px;
  /*mueve en 3 coordenadas*/
  transition-delay: 2s;
  position: relative; }

.animation-element.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

.contenedor h2 {
  color: #fff;
  padding-top: 10px;
  text-align: center; }

/*contenedor*/
.precios {
  margin: 20px; }
  .precios ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px; }
  .precios h1 {
    margin-top: 3px;
    margin-bottom: 20px; }
  .precios hr {
    border: none;
    height: 1px;
    color: #bababa;
    background-color: #bababa; }

.linea__abajo {
  margin-bottom: 20px; }

.primer__card {
  background-color: #fff;
  border: none;
  width: 270px;
  height: 400px;
  padding: 0px 30px; }
  .primer__card .linea__abajo {
    margin-top: 104px;
    margin-bottom: 20px; }

.segunda__card {
  background-color: #fff;
  border: none;
  width: 270px;
  height: 400px;
  padding: 0px 30px;
  margin-top: 20px; }

@media (min-width: 776px) {
  .graficos {
    display: flex;
    justify-content: space-around; }

  .precios {
    display: flex;
    justify-content: center; }

  .texto__grafic {
    width: 50%; }

  .primer__card {
    margin: 0px 0px 0px 260px; }

  .segunda__card {
    margin: 0px 0px 0px 30px; } }
.contenedor {
  /*width:100vw; no poner altura que se adapte al contenido*/
  background-image: url(../img/bg-price.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 180%;*/
  background-size: 2000px;
  padding-top: 200px;
  padding-bottom: 80px;
  justify-content: center;
 /* width: 100%;
height: 100%;*/ }
  @media (min-width: 768px) {
    .contenedor {
      background-position: center;
      background-size: cover; } }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

/*color: $white*/
   /* 

    margin: auto;


/*col SMARTPHONE*/
.col-12 {
  grid-column: span 12; }

.col-11 {
  grid-column: span 11; }

.col-10 {
  grid-column: span 10; }

.col-9 {
  grid-column: span 9; }

.col-8 {
  grid-column: span 8; }

.col-7 {
  grid-column: span 7; }

.col-6 {
  grid-column: span 6; }

.col-5 {
  grid-column: span 5; }

.col-4 {
  grid-column: span 4; }

.col-3 {
  grid-column: span 3; }

.col-2 {
  grid-column: span 2; }

.col-1 {
  grid-column: span 1; }

/*MEDIAQUERY*/
@media (min-width: 576px) {
  /*.contenedor{
    width: 540px;
   /* background-color: orange;}*/ }
.d-sm-none {
  display: none; }

.d-sm-block {
  display: block; }

.col-sm-12 {
  grid-column: span 12; }

.col-sm-11 {
  grid-column: span 11; }

.col-sm-10 {
  grid-column: span 10; }

.col-sm-9 {
  grid-column: span 9; }

.col-sm-8 {
  grid-column: span 8; }

.col-sm-7 {
  grid-column: span 7; }

.col-sm-6 {
  grid-column: span 6; }

.col-sm-5 {
  grid-column: span 5; }

.col-sm-4 {
  grid-column: span 4; }

.col-sm-3 {
  grid-column: span 3; }

.col-sm-2 {
  grid-column: span 2; }

.col-sm-1 {
  grid-column: span 1; }

@media (min-width: 768px) {
  /*  .contenedor {
      width: 100vw;
  width: 750px;*/
  /*     background-color: brown;}*/
  .d-md-none {
    display: none; }

  .d-md-block {
    display: block; }

  .col-md-12 {
    grid-column: span 12; }

  .col-md-11 {
    grid-column: span 11; }

  .col-md-10 {
    grid-column: span 10; }

  .col-md-9 {
    grid-column: span 9; }

  .col-md-8 {
    grid-column: span 8; }

  .col-md-7 {
    grid-column: span 7; }

  .col-md-6 {
    grid-column: span 6; }

  .col-md-5 {
    grid-column: span 5; }

  .col-md-4 {
    grid-column: span 4; }

  .col-md-3 {
    grid-column: span 3; }

  .col-md-2 {
    grid-column: span 2; }

  .col-md-1 {
    grid-column: span 1; } }
@media (min-width: 992px) {
  /*.contenedor {
    width: 970px;    /*mantiene el ultimo color designado
    background-color: green;
  }*/
  .d-lg-none {
    display: none; }

  .d-lg-block {
    display: block; }

  .col-lg-12 {
    grid-column: span 12; }

  .col-lg-11 {
    grid-column: span 11; }

  .col-lg-10 {
    grid-column: span 10; }

  .col-lg-9 {
    grid-column: span 9; }

  .col-lg-8 {
    grid-column: span 8; }

  .col-lg-7 {
    grid-column: span 7; }

  .col-lg-6 {
    grid-column: span 6; }

  .col-lg-5 {
    grid-column: span 5; }

  .col-lg-4 {
    grid-column: span 4; }

  .col-lg-3 {
    grid-column: span 3; }

  .col-lg-2 {
    grid-column: span 2; }

  .col-lg-1 {
    grid-column: span 1; } }
@media (min-width: 1200px) {
  /*.contenedor {
      width: 1170px;    /*mantiene el ultimo color designado
      background-color: blue;}*/
  .d-xl-none {
    display: none; }

  .d-xl-block {
    display: block; }

  .col-xl-12 {
    grid-column: span 12; }

  .col-xl-11 {
    grid-column: span 11; }

  .col-xl-10 {
    grid-column: span 10; }

  .col-xl-9 {
    grid-column: span 9; }

  .col-xl-8 {
    grid-column: span 8; }

  .col-xl-7 {
    grid-column: span 7; }

  .col-xl-6 {
    grid-column: span 6; }

  .col-xl-5 {
    grid-column: span 5; }

  .col-xl-4 {
    grid-column: span 4; }

  .col-xl-3 {
    grid-column: span 3; }

  .col-xl-2 {
    grid-column: span 2; }

  .col-xl-1 {
    grid-column: span 1; } }
.herosection {
  background-image: url(../img/bg-hero.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position-x: -400px;
  background-position-y: 230px;
  /* right; /*right*/
  margin: auto;
  height: 750px; }

.encabezado {
  margin-top: 30px;
  padding: 20px; }

@media (min-width: 768px) {
  .herosection {
    background-position: center;
    background-size: cover;
    /*position:right;*/
    /* background-position-x: 10px;
     background-position-y: 30px; 
     height: 1000px;
     width: 100%;
    /* height:300px;*/ }
    .herosection .encabezado {
      width: 30%;
      margin-left: 100px; } }
footer {
  height: 70px;
  /* display:flex;
   justify-content:space-between;
   align-items: center;*/
  text-align: center;
  background-color: #221d23;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #bababa;
  padding: 5% 10% 0 10%;
  margin: auto; }
  footer ul {
    /* display: flex;
     justify-content: space-between*/
    list-style: none;
    padding: 0;
    margin: 0px; }
    footer ul li {
      padding-right: 18px;
      display: inline; }
  footer h5 {
    margin-top: 10px;
   /* font-family: $fuentesecundaria;
    font-weight: $regular;
    font-size: $small;
color: $gray;*/ }

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center; }

  footer h5 {
    padding-top: 11px; } }
/*
.notaizq{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.notader{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: $raisingblack;
    color: $white;
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 20px;
}

/*
.notaizq h5{
    padding-right: 20px;
    display:inline-block;
}
@media(min-width: 768px) { 
    .footer{
        justify-content: space-between;
        padding: 0 50px;
        margin: auto;
    }
}*/
.boton__activo {
  background-color: #2ab7ca;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  margin: 10px 5px 0px 20px;
  color: #fff;
  border: 0; }
  .boton__activo:hover {
    background-color: #77d1dd; }
  .boton__activo:focus {
    background-color: #b1e4eb; }

.boton__inactivo {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
  margin: 10px 5px 0px 20px;
  border: 0; }
  .boton__inactivo:hover {
    background-color: #77d1dd; }
  .boton__inactivo:focus {
    background-color: #b1e4eb; }

.boton__free {
  border: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
  background-color: #2ab7ca;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px; }
  .boton__free:hover {
    background-color: #77d1dd; }
  .boton__free:focus {
    background-color: #b1e4eb; }

@media (min-width: 768px) {
  .boton__inactivo {
    margin: 10px 5px 0px 550px; } }

/*# sourceMappingURL=main.css.map */
