main{
    padding: 0px 50px 30px 50px;
    h2{
         text-align: center;
    }
    .img__grafic{
        width: 260px;
        height: 200px;
    } 
}

.animation-element{     /*estado inicial*/
    opacity: 0;
    transition: all 500ms linear;
    transform: translate 3d(0px, 20px, 0px);/*mueve en 3 coordenadas*/
    transition-delay:2s;
    position: relative;
}

.animation-element.in-view{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.contenedor h2{
    color:$white;
    padding-top: 10px;
    text-align: center;
}

/*contenedor*/
.precios{
    margin:20px;
    ul{
        font-family: $fuentesecundaria;
        font-weight: $regular;
        font-size: $small;
        line-height:30px;
        }
    h1{
       margin-top:3px;
       margin-bottom:20px;
        }
    hr{
        border:none;
        height:1px;
        color:$gray;
        background-color:$gray;
        }
}
.linea__abajo{
        margin-bottom: 20px;

}
.primer__card{
    background-color: $white;
    border: none;
    width: 270px;
    height: 400px;
    padding: 0px 30px;
    .linea__abajo{
        margin-top:104px;
        margin-bottom:20px;
    }

}

.segunda__card{
    background-color: $white;
    border: none;
    width: 270px;
    height: 400px;
    padding: 0px 30px;
    margin-top: 20px;
   
   }
   
@media(min-width:776px){
    .graficos{
        display: flex;
        justify-content: space-around;
    }
    .precios{
        display: flex;
        justify-content: center;
        
    }
    .texto__grafic{
         width: 50%;
    }
    .primer__card{
        margin:0px 0px 0px 260px;
    }
    .segunda__card{
        margin:0px 0px 0px 30px;
    }
}