.nav__shadow{
    box-shadow: 0 0px 0px rgba(0,0,0,0),0 0px 0px rgba(0,0,0,0)!important;
}
.nav__color{
    background-color: $white;
}

.nav__logus{
    display: flex;
    align-items: center;
    position: relative;
}
.nav__logo{
    font-family: $fuenteprimaria;
    font-weight: $bold;
    font-size: $xxx-large;
    position: absolute;
}

.nav__logo-in{
    font-family: $fuenteprimaria;
    font-size: $small;
    position: absolute;
    left: 50px;
    bottom:-12px;
}

.nav__li-a{
    font-family: $fuenteprimaria;
    font-weight: $regular;
    font-size: $medium;
}
